.nav_link {
    background: transparent;
    border: none;
    padding: 0;
    color: blue;
}

.dimmed-gray {
    color: gray;
}


.vui-section {
    overflow: hidden;
    background: white;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.52);
    -moz-box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.52);
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.52);
}

.vui-section-entry {
    background-color: white;
    outline-offset: 1px;
    border-radius: 0;
}

.vui-section-entry-first {
    border-radius: 10px 10px 0 0;
}

.vui-section-entry-last {
    border-radius: 0 0 10px 10px;
}
