.spacer {
    background: none;
}

.nav_link {
    background: transparent;
    border: none;
    padding: 0;
    color: blue;
}

.dimmed-gray {
    color: gray;
}

.round {
    border-radius: 100%;
}

button.small-button {
    transform: scale(0.8);
}

#password-entry-view > .caps-lock-indicator {
    margin-right: 33px;
    transform: scale(0.9);
}

.remove-last-border {
    border: none;
}

.vui-section {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px rgba(128, 128, 128, 0.45);
}

.vui-section-entry-row {
    padding: 0;
    margin: 0;
}

.vui-section-entry-text {
    padding: 7px;
    padding-left: 12px;
    margin: 0;
    border-radius: 0;
    outline-width: 2px;
}

.vui-section-entry-text + box {
    margin-right: 3px;
}

.vui-section-entry-text-first {
    border-radius: 10px 10px 0 0;
}

.vui-section-entry-text-last {
    border-radius: 0 0 10px 10px;
    border: none;
}

.vui-section-entry-text-solo {
    border-radius: 10px;
    border: none;
}

.vui-section-spin-row {
    background-color: transparent;
    outline: none;
    border-radius: 10px;
}
